body {
  margin: 0;
  background-color: rgb(241, 217, 0);
}
.App{
  background-color: white;
  width: 500px;
  height: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navbar{
  display: flex;
  flex-direction: row;
  box-shadow: 0px 5px 5px rgb(150, 140, 140);
  background-image: linear-gradient(to right, rgb(214, 1, 214),rgb(248, 87, 248));
}
.navbar>img{
  height: 35px;
  width: 35px;
  margin-top: 16px;
  margin-left: 10px;
}
.navbar>h2{
  color: antiquewhite;
  margin-left: 5px;
}
.page{
  display: flex;
  flex-direction: column;
}
.form{
  display: flex;
  flex-direction: row;
  margin: auto;
  box-sizing: border-box;
  padding: 20px 20px 0px 50px;
  margin-bottom: 20px;
}
.leftText{
  margin-right: 33px;
}
button{
  background-image: linear-gradient(to right, rgb(214, 1, 214),rgb(248, 87, 248));
  color: antiquewhite;
  height: 30px;
  width: 250px;
  margin: auto;
  box-shadow: 0px 5px 5px rgb(150, 140, 140);
}

.memeImg
{
  height: 270px;
  width: 370px; 
}

.meme{
  height: 270px;
  width: 370px;
  position: relative;
  text-align: center;
  color:wheat;

  margin: 29px 60px;
}

.top-text, .bottom-text{
  margin-top: -280px;
  color: white;
  font-size: 35px;
  -webkit-text-stroke: 1px black;
  word-wrap: break-word;
}

.bottom-text{
  margin-top : 200px;
  color: white;
  font-size: 35px;
  -webkit-text-stroke: 1px black;
}


